.outer-box { 
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  float:center;
  width: 362px;
  padding-bottom: 20px;
  border: 1px solid grey;
  box-shadow: 3px 10px 25px grey;
}

.image-settings {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.img-card{
  padding:20px
}

.info-card {
  width: 295px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: 1px solid grey;
}

.bold-text {
   font-weight: bold;
}

html{
  padding: 20%;
}

h3 {
  padding-left:25px;
}

p.interesting-facts {
  font-style: italic;
}

ul {
  list-style: None;
}